<div>
  <h1>Now it is Andrew's home page</h1>
  <%= link_to 'look at the pear page', '/pear' %>
  <%= link_to 'look at the grapes page', '/grapes' %>
  <%= link_to 'look at the cat page', '/cat' %>
  <%= link_to 'look at the dogs page', '/dogs' %>
  <%= link_to 'look at the apple page,', '/apple' %>
  <%= link_to 'look at the ladfh page,', '/ladfh' %>

</div>
