<div>
  <h1>Welcome to my home page!</h1>
  <%= link_to 'look at the pear page', '/pear' %>
  <%= link_to 'look at the grapes page', '/grapes' %>
  <%= link_to 'look at the cat page', '/cat' %>
  <%= link_to 'look at the dogs page', '/dogs' %>
  <%= link_to 'look at the apple page,', '/apple' %>
</div>
